<li>
  <%= gravatar_for user, :size => 30 %>
  <% if current_user.admin? %>
		<% if user.admin? %>
  		<%= link_to "#{user.name} (admin)", user %>
		<% else %>
      <%= link_to user.name, user %>
		<% end %>
		<% if current_user != user %>
		  | <%= link_to "delete", user, :method => :delete, 
				:confirm => "You sure?",
        :title => "Delete #{user.name}" %>
		<% else %>
		  (This is you!)
		<% end %>
	<% else %>
		<%= link_to user.name, user %>
  <% end %>
</li>